doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(type="text/css", rel="stylesheet", href="javascripts/rcarousel/css/rcarousel.css")
    script(type="text/javascript", src="http://code.jquery.com/jquery.js ")
    script(type="text/javascript", src="javascripts/rcarousel/lib/jquery-1.7.1.min.js")
    script(type="text/javascript", src="javascripts/rcarousel/lib/jquery.ui.core.min.js")
    script(type="text/javascript", src="javascripts/rcarousel/lib/jquery.ui.widget.min.js")
    script(type="text/javascript", src="javascripts/rcarousel/lib/jquery.ui.rcarousel.min.js")
    script(type="text/javascript", src="javascripts/home.js")
  body
    block content